@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

body {
    margin: 0;
    background-color: #F9F8FF;
    font-family: 'DM Sans', sans-serif;
}

#s1 {
    background-image: url("images/bg1.svg");
    background-repeat: no-repeat;
}

#s2 {
    background-image: url("images/bg2.svg");
}

#s3 {
    background-image: url("images/bg3.svg");
}

.bg1, .ss1 {
    position: absolute;
}

.burger {
    display: none;
    margin-right: 2rem;
}

.burger div {
    width: 25px;
    height: 4px;
    margin: 5px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
}

nav a {
    margin: auto 2%;
}

a:hover {
    text-decoration: underline;
}

h1 {
    font-size: 68px;
}

h2 {
    font-size: 48px;
}

nav,
.f16 {
    font-size: 16px;
}

h4 {
    font-size: 20px;
}

.f22 {
    font-size: 22px;
}

button,
#copyright {
    font-size: 15px;
}

.f12 {
    font-size: 12px;
}

section>div,
#intro,
footer .fl-col {
    margin: 0 15%;
}

#s1 {
    padding: 33px 0 0 0;
}

header {
    padding: 0;
    margin: auto 2%;
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer #logo,
footer #copyright {
    opacity: 80%;
}

footer .fl {
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
}

footer .fl-col {
    display: flex;
    flex-direction: column;
}

footer,
#copyright {
    background-color: #0D0D0D;
}

footer>div:first-child>div:first-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    display: flex;
    justify-content: space-between;
}

#copyright p {
    display: inline-block;
}

#copyright a {
    display: block;
    text-align: center;
}

#copyright div a,
.burger {
    cursor: pointer;
}

#logo {
    display: flex;
    align-items: center;
    flex: 1;
}

#intro button,
#s5 button {
    margin-top: 30px;
}

#s3 {
    position: relative;
    z-index: 1;
}

#s3>img:nth-child(1) {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}

.btn,
#sosial {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#sosial img {
    margin: auto 10px;
    cursor: pointer;
}

nav {
    flex: 3;
    text-align: center;
}

button {
    width: 194px;
    height: 61px;
    border-radius: 60px;
    background-color: #fff;
    color: #57B3FE;
    text-transform: uppercase;
    border-width: 0;
    cursor: pointer;
}

button:hover {
    color: #ffffff;
    background-color: #f7941e;
}

#intro button,
#intro img {
    display: block;
}

#intro,
#brands {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#logo p,
#intro,
#our-process .text,
#start-working .sw-text,
#copyright {
    color: #fff;
}

.wyg-text p,
.text p:first-child,
#brands p:first-child {
    margin-top: 0;
}

.wyg-text p,
#brands p:first-child {
    color: #00A077;
}

.icons {
    position: relative;
    height: 90px;
    width: 90px;
}

.icons .icon {
    position: absolute;
    top: 35;
    left: 45;
    left: 50%;
    top: 50%;
}

.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 0 1 calc(100%/3 - 20px*2);
    background-color: #fff;
    margin: 0 0 25px 0;
}

.card h4,
.card p {
    margin-left: 41px;
    margin-right: 23px;
}

.cards>div {
    background-color: #fff;
    border-radius: 15px;
}

#statistics-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statistics-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    margin-bottom: 40px;
}

.statistics {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statistics img {
    width: 80%;
    height: auto;
}

.card-text img {
    width: 30px;
    height: 30px;
    margin: 0;
}

.card-text {
    flex: 1;
    margin: auto 68px auto 30px;
}

.text {
    text-align: center;
}

section {
    display: flex;
    flex-direction: column;
}

#s5 {
    background: linear-gradient(to left, #35D3FF, #A963F8);
}

#s4 {
    background-color: #F9F8FF !important;
}

.brands {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.brands img {
    flex: 0 1 calc(100%/5 - 20px*2);
}

#brands p,
#brands h4 {
    text-align: center;
}

#brands p:first-child {
    padding-top: 15%;
    font-size: 12px;
}

#brands p:last-child {
    padding-top: 40px;
    padding-bottom: 15%;
}

#brands h4 {
    margin: 24px auto 32px auto;
}

#start-working {
    display: flex;
    flex-direction: row;
}

#start-working>div {
    flex: 1;
}

#start-working>div:last-child {
    margin: 0;
}

.sw-text {
    margin: 10% 10% 10% 0;
}

#start-working>div:last-child {
    position: relative;
}

#start-working .quarter {
    position: absolute;
    left: 50%;
    top: 114px;
}

.ui {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#intro img,
.ui img {
    width: 100%;
    height: auto;
}

hr {
    width: 100%;
}

#s2 {
    background-color: #F2F2F2;
}

#what-you-get {
    margin-bottom: 5%;
    margin-top: 5%;
}

#s1>div:first-child {
    position: absolute;
    width: 1950px;
    height: 1120px;
    left: -8px;
    top: -79px;
}

.text p:first-child {
    margin-top: 3%;
}

.text p:last-child {
    margin-bottom: 3%;
}

.icon-bg {
    height: 30px;
    width: 30px;
    position: relative;
}

@media screen and (max-width: 1650px) {

    section>div,
    #intro,
    footer .fl-col {
        margin: 0 4%;
    }

    button {
        width: 100px;
        height: 30px;
        border-radius: 60px;
        font-size: 10px;
    }

    #logo {
        flex: 0.5;
    }

    .btn,
    #sosial {
        flex: 0.5;
    }

    nav {
        flex: 3;
        text-align: center;
    }

}

@media screen and (max-width: 1108px) {

    nav {
        font-size: 13px;
    }

}

@media screen and (max-width: 1080px) {
    
    .statistics-card {
        flex-direction: column;
    }

    .card-text {
        margin: 2% 10% 4% 10%;
    }

}


@media screen and (max-width: 1024px) {

    footer nav {
        display: none;
    }

    h1 {
        font-size: 34px;
    }

    h2 {
        font-size: 24px;
    }

    br {
        display: none;
    }

    .burger {
        display: flex;
        flex-direction: column;
        flex: 1;

        position: absolute;
        right: 0;
        width: 44px;
    }

    header nav,
    .btn {
        display: none;
    }

}

@media screen and (max-width: 905px) {

    .card {
        flex: 0 1 calc(100%/2 - 10px*2);
        background-color: #fff;
        margin: 0 0 25px 0;
    }

    #start-working {
        flex-direction: column;
    }

    .ui {
        justify-content: center;
        padding-bottom: 5%;
    }

    .ui img {
        width: 50%;
        height: 50%;
    }

    .sw-text {
        margin-bottom: 0;
    }

}

@media screen and (max-width: 820px) {

    h4 {
        font-size: 16px;
    } 

    .f16 {
        font-size: 13px;
    }

}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 24px;
    }

    .card {
        flex: 0 1 100%;
        background-color: #fff;
        margin: 0 0 25px 0;
    }

    button {
        width: 100px;
        height: 30px;
        border-radius: 60px;
        font-size: 10px;
    }

    #copyright {
        font-size: 13px;
    }

    .ui {
        display: none;
    }

    .sw-text {
        margin-bottom: 10%;
    }

    header,
    .burger {
        margin: 0;
    }

}

@media screen and (max-width: 400px) {
  
    footer .fl {
        flex-direction: column;
    }

    footer .fl  #logo {
        margin-bottom: 2%;
    }

    #copyright {
        flex-direction: column;
        align-items: center;     
    }

    #copyright p {
        display: block;
    }

}

@media screen and (max-width: 330px) {
    
    .brands {
        justify-content: center;
    }
    
}